<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8"/>

    {% load staticfiles %}
    <link rel="stylesheet", type="text/css" href="{% static "CSS/mypage.css" %}">
    <title>{% block title %}My Amazing Site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Project_Home</a> </li>
            <li><a href="/admin/">Admin</a> </li>
        </ul>
        {% endblock %}
        <br>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <img src="{% static "IMG/1.jpg" %}">

</body>

</html>